[Unit]
Description=Synchronize imap server

[Timer]
OnBootSec=5m
OnCalendar=*:0/10
OnUnitActiveSec=15m
AccuracySec=5m

[Install]
WantedBy=timers.target
